.scoreContainer {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.score {
  font-weight: 600;
}

.scoreGreat {
  color: #b5ebb5;
}

.scoreGood {
  color: #eaf4bd;
}

.scoreOk {
  color: inherit;
}

.scoreBad {
  color: #f0b0b0;
}