:global(.--condensed) {
  .subreddit {
    padding: 2px 12px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  &:hover button {
    opacity: 1;
    visibility: visible;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subreddit {
  font-size: 20px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.deleteButton {
  margin: -8px;
}