button {
  display: flex;
  border-radius: 0;
  border: 1px solid transparent;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg-50);
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
  color: inherit;

  &.--icon {
    padding: 6px;
    border: 0;
  }

  &:hover {
    color: var(--color-fg-0);
  }

  &:focus-visible {
    color: var(--color-fg-0);
    background-color: var(--color-bg-focus);
  }

  &:active {
    background-color: var(--color-bg-active);
  }

  &.--primary {
    &:hover {
      color: var(--color-primary-500);
    }

    &:focus-visible {
      color: var(--color-fg-0);
      background-color: var(--color-primary-500-focus);
    }

    &:active {
      background-color: var(--color-primary-500-active);
    }
  }
}