:root {
  --border-color: #303030;

  --color-text-50: rgba(255, 255, 255, 0.92);
  --color-text-100: rgba(255, 255, 255, 0.84);
  --color-text-200: rgba(255, 255, 255, 0.75);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-50);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}