body {
  letter-spacing: 0.02ch;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 16px;
}

h3 {
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.04ch;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.success {
  color: var(--color-success-500);
}

.warning {
  color: var(--color-warning-500);
}

.error {
  color: var(--color-error-500);
}