.listItem {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1.6;
}

.actions {
  display: flex;
  align-items: center;
}

:global(.--condensed) {
  .listItem {
    margin-top: -4px;
  }
}
