button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 0;
  border: 1px solid transparent;
  padding: 9px 16px;
  font-size: 14px;
  letter-spacing: 0.04ch;
  white-space: nowrap;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  background-color: var(--color-bg-50);
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
  color: inherit;

  &.--with-icon > svg {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
  }

  &.--small {
    padding: 4px 8px;
    font-size: 12px;
    letter-spacing: 0.02ch;
  }

  &.--icon {
    padding: 8px;
    border: 0;

    &.--small {
      padding: 4px;

      > svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &:not(.--small,.--large,.--icon) {
    height: 38px;
  }

  &:hover {
    color: var(--color-fg-25);
    background-color: var(--color-bg-active);
  }

  &:focus-visible {
    color: var(--color-fg-25);
    background-color: var(--color-bg-focus);
  }

  &:active {
    background-color: var(--color-bg-active);
  }

  &.--primary {
    &:hover,
    &.--active {
      color: var(--color-primary-500);
    }
    &:focus-visible {
      color: var(--color-fg-25);
      background-color: var(--color-primary-500-focus);
    }
    &:hover,
    &:active {
      background-color: var(--color-primary-500-active);
    }
  }

  &.--success {
    &:hover,
    &.--active {
      color: var(--color-success-500);
    }
    &:focus-visible {
      color: var(--color-fg-25);
      background-color: var(--color-success-500-focus);
    }
    &:hover,
    &:active {
      background-color: var(--color-success-500-active);
    }
  }

  &.--error {
    &:hover,
    &.--active {
      color: var(--color-error-500);
    }
    &:focus-visible {
      color: var(--color-fg-25);
      background-color: var(--color-error-500-focus);
    }
    &:hover,
    &:active {
      background-color: var(--color-error-500-active);
    }
  }

  &.--filled {
    background-color: var(--color-bg-200);

    &:hover,
    &.--active {
      background-color: var(--color-bg-300);
    }

    &.--primary {
      color: var(--color-fg-on-primary-bg);
      background-color: var(--color-primary-600);

      &:hover,
      &.--active {
        color: var(--color-fg-on-primary-bg);
        background-color: var(--color-primary-700);
      }
    }

    &.--error {
      color: var(--color-fg-on-error-bg);
      background-color: var(--color-error-600);

      &:hover,
      &.--active {
        color: var(--color-fg-on-error-bg);
        background-color: var(--color-error-700);
      }
    }
  }

  &[disabled] {
    color: var(--color-fg-500);
    pointer-events: none;
  }
}