.managementView {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}

.description {
  color: var(--color-fg-100);
  font-size: 15px;
}

.warning {
  color: var(--color-error-500);
  font-size: 15px;
}