.title {
  //text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.04ch;
  line-height: 1.5;
}

.description {
  font-size: 15px;
  white-space: wrap;
  letter-spacing: 0.02ch;
  font-weight: 300;
  line-height: 1.4;
  color: var(--color-text-100);
  margin-block-start: 2px;
  word-break: break-word;

  a:link {
    color: var(--color-text-50);
  }
  a:visited {
    color: var(--color-text-200);
  }
  a:hover,a:active {
  color: var(--color-text-50);
}
}

.postContainer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.postLink {
  color: inherit;
  text-decoration: none;

  &:not(:last-child) > .postContainer {
    border-bottom: 1px solid var(--border-color);
  }

  &:hover {
    background-color: #ffffff07;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  max-width: 220px;
  max-height: 160px;
}