.pickOmitRow {
  display: flex;
  flex-direction: column;
}

.pickOmitInput {
  min-width: 240px;
}

.numberRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.numberInput {
  width: 70px;
}