.wrapper {
  display: inline-flex;
  cursor: pointer;
}

.title {
  position: fixed;
  padding: 5px 9px;
  color: var(--color-fg-50);
  background-color: var(--color-bg-200);
  line-height: 1.25;
  font-size: 13px;
  width: fit-content;
  max-width: 300px;
}