.wrapper {
  display: inline-flex;
  cursor: pointer;
}

.title {
  position: fixed;
  padding: 5px 9px;
  background-color: var(--color-dark-100);
  line-height: 1.25;
  color: inherit;
  font-size: 13px;
  width: fit-content;
  max-width: 400px;
}