body.--color {
  --border-color: deepskyblue;
  --border-color-2: #ffa92e;

  --color-light-032: rgba(105, 59, 159, 0.4);
  --color-light-focus: #98acff;
  --color-light-active: #ffefce;
  --color-light-0: #f9fffc;
  --color-light-25: #f3fff7;
  --color-light-50: #f3fff7;
  --color-light-100: #ffffec;
  --color-light-200: #ddf1b1;
  --color-light-300: #ababab;

  --color-dark-50: #ff009a;
  --color-dark-100: #04349b;
  --color-dark-200: #8621f1;
  --color-dark-300: #8c52c9;
  --color-dark-400: #9174ad;
  --color-dark-500: #91869b;

  --color-primary-500-focus: rgb(149, 117, 205, 0.3);
  --color-primary-500-active: rgb(149, 117, 205, 0.1);
  --color-primary-500: rgb(19, 192, 151);

  --color-success-fg: #18af70;
  --color-error-fg: #ff5d47;

  --color-score-great: #0d915a;
  --color-score-good: #a97a00;
  --color-score-bad: #d92067;

  --color-fg-25: var(--color-dark-25);
  --color-fg-50: var(--color-dark-50);
  --color-fg-100: var(--color-dark-100);
  --color-fg-200: var(--color-dark-200);
  --color-fg-300: var(--color-dark-300);
  --color-fg-400: var(--color-dark-400);
  --color-fg-500: var(--color-dark-500);

  --color-bg-focus: var(--color-light-focus);
  --color-bg-active: var(--color-light-active);
  --color-bg-back: var(--color-light-032);
  --color-bg-0: var(--color-light-0);
  --color-bg-25: var(--color-light-25);
  --color-bg-50: var(--color-light-50);
  --color-bg-100: var(--color-light-100);
  --color-bg-200: var(--color-light-200);


  color: var(--color-fg-50);
  background-color: var(--color-bg-50);

  input[type=number]::-webkit-inner-spin-button {
    filter: sepia(1) hue-rotate(45deg) contrast(2) brightness(3.15);
  }
}