body.--contrast {
  --color-border: #555;
  --color-border-2: #777;
  --color-border-2-hover: #bbb;

  --color-light-25: #fff;
  --color-light-50: #fff;
  --color-light-100: #fff;
  --color-light-200: #ddd;
  --color-light-300: #ccc;
  --color-light-400: #bbb;
  --color-light-500: #aaa;

  --color-dark-032: rgb(36, 36, 36, 0.64);
  --color-dark-072: rgb(0, 0, 0, 0.73);
  --color-dark-focus: #333;
  --color-dark-active: #1c1c1c;
  --color-dark-0: #000;
  --color-dark-25: #000;
  --color-dark-50: #000;
  --color-dark-100: #1a1a1a;
  --color-dark-200: #2a2a2a;
  --color-dark-300: #363636;
  --color-dark-400: #999999;

  --color-primary-500-focus: rgba(255, 255, 0, 0.4);
  --color-primary-500-active: rgba(255, 255, 0, 0.12);
  --color-primary-500: rgba(255, 255, 0);
  --color-primary-600: rgb(204, 204, 0);
  --color-primary-700: rgb(168, 168, 0);

  --color-success-500-focus: rgb(104, 229, 93, 0.35);
  --color-success-500-active: rgba(104, 229, 93, 0.13);
  --color-success-500: rgb(104, 229, 93);
  --color-success-600: rgb(91, 199, 82);
  --color-success-700: rgb(77, 168, 69);

  --color-error-500-focus: rgb(250, 77, 71, 0.35);
  --color-error-500-active: rgba(250, 77, 71, 0.15);
  --color-error-500: rgb(250, 77, 71);
  --color-error-600: rgb(217, 66, 61);
  --color-error-700: rgb(184, 56, 51);

  --color-warning-500: rgb(248, 157, 44);

  --color-score-great: #7aff7a;
  --color-score-good: #fff956;
  --color-score-bad: #ff6767;

  --color-fg-25: var(--color-light-25);
  --color-fg-50: var(--color-light-50);
  --color-fg-100: var(--color-light-100);
  --color-fg-200: var(--color-light-200);
  --color-fg-300: var(--color-light-300);
  --color-fg-400: var(--color-light-400);
  --color-fg-500: var(--color-light-500);
  --color-fg-on-primary-bg: var(--color-dark-50);
  --color-fg-on-error-bg: var(--color-dark-50);

  --color-bg-focus: var(--color-dark-focus);
  --color-bg-active: var(--color-dark-active);
  --color-bg-back: var(--color-dark-032);
  --color-bg-overlay: var(--color-dark-072);
  --color-bg-0: var(--color-dark-0);
  --color-bg-25: var(--color-dark-25);
  --color-bg-50: var(--color-dark-50);
  --color-bg-100: var(--color-dark-100);
  --color-bg-200: var(--color-dark-200);
  --color-bg-300: var(--color-dark-300);
  --color-bg-400: var(--color-dark-400);
  --color-bg-input: transparent;

  color: var(--color-fg-50);
  background-color: var(--color-bg-50);

  input[type=number]::-webkit-inner-spin-button {
    filter: invert(1) contrast(1.15);
  }
}