body.--dark {
  --border-color: #303030;
  --border-color-2: #434343;

  --color-light-0: #fafafa;
  --color-light-25: #f6f6f6;
  --color-light-50: #ebebeb;
  --color-light-100: #d6d6d6;
  --color-light-200: #c2c2c2;
  --color-light-300: #ababab;
  --color-light-400: #949494;
  --color-light-500: #8a8a8a;

  --color-dark-032: rgb(0, 0, 0, 0.32);
  --color-dark-072: rgb(26, 26, 26, 0.58);
  --color-dark-focus: #282828;
  --color-dark-active: #242424;
  --color-dark-0: #1a1a1a;
  --color-dark-25: #1a1a1a;
  --color-dark-50: #1a1a1a;
  --color-dark-100: #222;
  --color-dark-200: #262626;

  --color-primary-500-focus: rgb(149, 117, 205, 0.2);
  --color-primary-500-active: rgba(149, 117, 205, 0.11);
  --color-primary-500: rgb(149, 117, 205);
  --color-primary-600: rgb(120, 93, 163);
  --color-primary-700: rgb(105, 81, 143);

  --color-success-500-focus: rgb(127, 201, 105, 0.2);
  --color-success-500-active: rgba(127, 201, 105, 0.07);
  --color-success-500: rgb(127, 201, 105);
  --color-success-600: rgb(110, 173, 90);
  --color-success-700: rgb(93, 148, 77);

  --color-error-500-focus: rgb(233, 105, 82, 0.2);
  --color-error-500-active: rgba(233, 105, 82, 0.08);
  --color-error-500: rgb(233, 105, 82);
  --color-error-600: rgb(204, 91, 71);
  --color-error-700: rgb(168, 75, 59);

  --color-score-great: #aef1ae;
  --color-score-good: #f7f6b5;
  --color-score-bad: #f1a7a7;

  --color-fg-0: var(--color-light-0);
  --color-fg-25: var(--color-light-25);
  --color-fg-50: var(--color-light-50);
  --color-fg-100: var(--color-light-100);
  --color-fg-200: var(--color-light-200);
  --color-fg-300: var(--color-light-300);
  --color-fg-400: var(--color-light-400);
  --color-fg-500: var(--color-light-500);
  --color-fg-primary-button: var(--color-light-50);

  // @todo: add bg-overlay & dark-072 to other themes

  --color-bg-focus: var(--color-dark-focus);
  --color-bg-active: var(--color-dark-active);
  --color-bg-back: var(--color-dark-032);
  --color-bg-overlay: var(--color-dark-072);
  --color-bg-0: var(--color-dark-0);
  --color-bg-25: var(--color-dark-25);
  --color-bg-50: var(--color-dark-50);
  --color-bg-100: var(--color-dark-100);
  --color-bg-200: var(--color-dark-200);

  color: var(--color-fg-50);
  background-color: var(--color-bg-50);

  input[type=number]::-webkit-inner-spin-button {
    filter: invert(0.96);
  }
}