body.--light {
  --color-border: #dadada;
  --color-border-2: #cacaca;
  --color-border-2-hover: #ababab;

  --color-light-032: rgba(59, 49, 52, 0.4);
  --color-light-072: rgb(245, 245, 245, 0.45);
  --color-light-focus: #f8d4de;
  --color-light-active: #ededed;
  --color-light-0: #fff;
  --color-light-25: #fbfbfb;
  --color-light-50: #f9f9f9;
  --color-light-100: #fefefe;
  --color-light-200: #efefef;
  --color-light-300: #efefef;
  --color-light-400: #bfbfbf;

  --color-dark-50: #07162a;
  --color-dark-100: #0f1825;
  --color-dark-200: #3d4759;
  --color-dark-300: #434c5b;
  --color-dark-400: #586069;
  --color-dark-500: #777a83;

  --color-primary-500-focus: rgb(234, 43, 94, 0.18);
  --color-primary-500-active: rgb(234, 43, 94, 0.11);
  --color-primary-500: rgb(234, 43, 94);
  --color-primary-600: rgb(204, 37, 81);
  --color-primary-700: rgb(173, 31, 69);

  --color-success-500-focus: rgb(54, 126, 32, 0.18);
  --color-success-500-active: rgba(54, 126, 32, 0.11);
  --color-success-500: rgb(54, 126, 32);
  --color-success-600: rgb(66, 156, 39);
  --color-success-700: rgb(80, 189, 47);

  --color-error-500-focus: rgb(192, 65, 42, 0.18);
  --color-error-500-active: rgba(192, 65, 42, 0.1);
  --color-error-500: rgb(192, 65, 42);
  --color-error-600: rgb(217, 73, 48);
  --color-error-700: rgb(242, 82, 53);

  --color-warning-500: rgb(166, 95, 0);

  --color-score-great: #187e18;
  --color-score-good: #6b6906;
  --color-score-bad: #ad4343;

  --color-fg-25: var(--color-dark-25);
  --color-fg-50: var(--color-dark-50);
  --color-fg-100: var(--color-dark-100);
  --color-fg-200: var(--color-dark-200);
  --color-fg-300: var(--color-dark-300);
  --color-fg-400: var(--color-dark-400);
  --color-fg-500: var(--color-dark-500);
  --color-fg-on-primary-bg: var(--color-light-100);

  --color-bg-focus: var(--color-light-focus);
  --color-bg-active: var(--color-light-active);
  --color-bg-back: var(--color-light-032);
  --color-bg-overlay: var(--color-light-072);
  --color-bg-0: var(--color-light-0);
  --color-bg-25: var(--color-light-25);
  --color-bg-50: var(--color-light-50);
  --color-bg-100: var(--color-light-100);
  --color-bg-200: var(--color-light-200);
  --color-bg-300: var(--color-light-300);
  --color-bg-400: var(--color-light-400);
  --color-bg-input: transparent;

  color: var(--color-fg-50);
  background-color: var(--color-bg-50);

  input[type=number]::-webkit-inner-spin-button {
    filter: brightness(1.5);
  }
}