body.--white {
  --border-color: #f2f2f2;

  --color-light-032: rgba(0, 0, 0, 0.25);
  --color-light-focus: #efefef;
  --color-light-active: #f6f6f6;
  --color-light-0: #f3fff7;
  --color-light-50: #fff;
  --color-light-100: #f8f8f8;
  --color-light-200: #f4f4f4;
  --color-light-300: #ababab;

  --color-dark-50: #333;
  --color-dark-100: #1e1e1e;
  --color-dark-200: #444;

  --color-primary-500-focus: rgb(71, 43, 234, 0.17);
  --color-primary-500-active: rgb(71, 43, 234, 0.06);
  --color-primary-500: rgb(71, 43, 234);

  --color-score-great: #187e18;
  --color-score-good: #6b6906;
  --color-score-bad: #ad4343;

  --color-fg-0: var(--color-dark-0);
  --color-fg-50: var(--color-dark-50);
  --color-fg-100: var(--color-dark-100);
  --color-fg-200: var(--color-dark-200);
  --color-fg-300: var(--color-dark-300);

  --color-bg-focus: var(--color-light-focus);
  --color-bg-active: var(--color-light-active);
  --color-bg-back: var(--color-light-032);
  --color-bg-0: var(--color-light-0);
  --color-bg-50: var(--color-light-50);
  --color-bg-100: var(--color-light-100);
  --color-bg-200: var(--color-light-200);

  color: var(--color-fg-50);
  background-color: var(--color-bg-50);
}