body.--white {
  --border-color: #f2f2f2;
  --border-color-2: #e2e2e2;

  --color-light-032: rgba(0, 0, 0, 0.25);
  --color-light-072: rgb(255, 255, 255, 0.39);
  --color-light-focus: #efefef;
  --color-light-active: #f6f6f6;
  --color-light-0: #fff;
  --color-light-25: #f3fff7;
  --color-light-50: #fff;
  --color-light-100: #f8f8f8;
  --color-light-200: #f4f4f4;
  --color-light-300: #ababab;

  --color-dark-50: #333;
  --color-dark-100: #1e1e1e;
  --color-dark-200: #444;
  --color-dark-300: #505050;
  --color-dark-400: #646464;
  --color-dark-500: #7c7c7c;

  --color-primary-500-focus: rgb(71, 43, 234, 0.14);
  --color-primary-500-active: rgb(71, 43, 234, 0.06);
  --color-primary-500: rgb(71, 43, 234);
  --color-primary-600: rgb(63, 38, 209);
  --color-primary-700: rgb(51, 30, 168);

  --color-success-500-focus: rgb(54, 134, 29, 0.14);
  --color-success-500-active: rgba(54, 134, 29, 0.08);
  --color-success-500: rgb(54, 134, 29);
  --color-success-600: rgb(67, 166, 36);
  --color-success-700: rgb(79, 196, 43);

  --color-error-500-focus: rgb(209, 62, 35, 0.15);
  --color-error-500-active: rgba(209, 62, 35, 0.08);
  --color-error-500: rgb(209, 62, 35);
  --color-error-600: rgb(232, 68, 39);
  --color-error-700: rgb(255, 75, 43);

  --color-score-great: #187e18;
  --color-score-good: #6b6906;
  --color-score-bad: #ad4343;

  --color-fg-25: var(--color-dark-25);
  --color-fg-50: var(--color-dark-50);
  --color-fg-100: var(--color-dark-100);
  --color-fg-200: var(--color-dark-200);
  --color-fg-300: var(--color-dark-300);
  --color-fg-400: var(--color-dark-400);
  --color-fg-500: var(--color-dark-500);
  --color-fg-primary-button: var(--color-light-50);

  --color-bg-focus: var(--color-light-focus);
  --color-bg-active: var(--color-light-active);
  --color-bg-back: var(--color-light-032);
  --color-bg-overlay: var(--color-light-072);
  --color-bg-0: var(--color-light-0);
  --color-bg-25: var(--color-light-25);
  --color-bg-50: var(--color-light-50);
  --color-bg-100: var(--color-light-100);
  --color-bg-200: var(--color-light-200);

  color: var(--color-fg-50);
  background-color: var(--color-bg-50);

  input[type=number]::-webkit-inner-spin-button {
    filter: brightness(2);
  }
}