.badge {
  display: inline-flex;
  padding: 3px 8px;
  border-radius: 1000px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02ch;
}

:global(.--condensed) {
  .badge {
    padding: 2px 6px;
  }
}